@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box}

  body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    font-size: 13px !important;
    margin: 0;
    padding: 0;
  }
  .list-title{
    margin-bottom: 20px;
  }